In [10]:
import pandas as pd 
import numpy as np

## Combine June data

In [3]:
file1 = '2020_FB_Pres_500_Ads_Topic_GOLD_v2.xlsx'
file2 = '2020_FB_Pres_1000_Posts_Topic_GOLD_v2.xlsx'
file3 = '2020_FB_Pres_Posts_500_Topic_GOLD_v1.xlsx'
dirs = 'C:\\Users\\wangtao\\Documents\\Illumination\\data_set(2020june)\\'

In [4]:
df1 = pd.read_excel(dirs+file1)
df2 = pd.read_excel(dirs+file2)
df3 = pd.read_excel(dirs+file3)

In [5]:
df1 = df1[['ad_creative_body','GOLD']]
df2 = df2[['text','GOLD']]
df3 = df3[['text','GOLD']]

In [6]:
df1.rename(columns={'GOLD':'Gold Label'},inplace=True)
df1.rename(columns={'ad_creative_body':'text'}, inplace=True)

In [7]:
df2.rename(columns={'GOLD':'Gold Label'},inplace=True)
df3.rename(columns={'GOLD':'Gold Label'},inplace=True)

In [8]:
df_list = [df1,df2,df3]

FB_df = pd.concat(df_list,ignore_index=True)

In [9]:
FB_df

,text,Gold Label
0,"Last quarter, Bernie Sanders, Pete Buttigieg a...",no topic
1,Every one of the Democratic candidates remaini...,no topic
2,A young woman came up to me after my speech in...,"social programs, education"
3,"Como presidenta, Elizabeth proporcionarн_a el ...",social programs
4,Una cosa queda clara: ahorrar para una jubilac...,social programs
...,...,...
1994,Thank you Rashad Robinson for having me on the...,"safety, social cultural, economic"
1995,Louis Vuitton has invested in the American wor...,economic
1996,Upper-income people have done disproportionate...,economic
1997,"As usual with “this” General Motors, things ju...","covid, health"
1998,Black and Brown families value education the s...,"education, social cultural, economic"

In [10]:
FB_df.to_csv('FB_2000.csv',index=False)

### FB+TW test dataset 3 july 8th

In [4]:
file1 = '2020_FB_Pres_Ads_500_Topic_Gold_v1_test.xlsx'
file2 = '2020_FB_Pres_Posts_500_Topic_GOLD_v1_test.xlsx'
file3 = '2020_TW_Pres_Posts_500_Topic_Gold_v1_test.xlsx'
dirs = 'C:\\Users\\wangtao\\Documents\\Illumination\\data_set(2020july)\\'

In [5]:
df1 = pd.read_excel(dirs+file1)
df2 = pd.read_excel(dirs+file2)
df3 = pd.read_excel(dirs+file3)

In [6]:
df1 = df1[['ad_creative_body','GOLD']]
df2 = df2[['text','GOLD']]
df3 = df3[['text','GOLD']]

In [7]:
df1.rename(columns={'GOLD':'Gold Label'},inplace=True)
df1.rename(columns={'ad_creative_body':'text'}, inplace=True)
df2.rename(columns={'GOLD':'Gold Label'},inplace=True)
df3.rename(columns={'GOLD':'Gold Label'},inplace=True)

In [8]:
df_list = [df1,df2,df3]

FBtest_df = pd.concat(df_list,ignore_index=True)

In [9]:
FBtest_df.to_csv('FBtest_1500.csv',index=False)

## Combine all of the test datasets (june+july)

In [21]:
df1 = pd.read_csv('FB_2000.csv')
df2 = pd.read_csv('FBtest_1500.csv')

In [22]:
FBtest_df = pd.concat([df1,df2],ignore_index=True)

In [17]:
# shuffle each column indepedentely

# def shuffle(df,n=2,axis=0):
#     df = df.copy()
#     for _ in range(n):
#         df.apply(np.random.shuffle,axis=axis)
#     return df

In [18]:
FBtest_df = shuffle(FBtest_df)

In [19]:
FBtest_df

,text,Gold Label
0,The compounding evidence that Mr. Trump has ab...,no topic
1,We started with one of the most diverse fields...,social cultural
2,This is why we need complete transparency. Mue...,economic
3,"Come join us for a poll party on Tuesday, Febr...",economic
4,I will be having a White House Press Conferenc...,"social cultural, safety, education"
...,...,...
3494,I spent most of my career studying one simple ...,"safety, health"
3495,The Iowa caucus is just three days away and no...,"education, safety, social programs"
3496,I will be signing our very large and comprehen...,governance
3497,We’ve got 30 days to win Iowa. Make every day ...,no topic
3498,The Sixth Amendment provides every American ac...,"safety, economic, education"

In [23]:
FBtest_df.to_csv('FBtest_3500.csv',index=False)